In [1]:
import pandas as pd
from snowflake.snowpark.session import Session
from snowflake.snowpark.functions import udf, avg, col
from snowflake.snowpark.types import IntegerType, FloatType, StringType, BooleanType
from snowflake.snowpark.files import SnowflakeFile
import sys
sys.path.append('..')
from credentials import Credentials

In [ ]:
# Setting pandas options
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
cred = Credentials()
session = Session.builder.configs(cred.__dict__).create()

In [5]:
session.use_role("SYSADMIN")
session.use_database("STITCH")
session.use_warehouse("ACCOUNTADMIN_MGMT")
session.use_schema("SALESFORCEFSL3")

In [6]:
# Getting name of the table
db_name = 'STITCH'
schema_name = 'SALESFORCEFSL3'
table_name:str = 'ACCOUNT'

In [8]:
result = session.sql(f"DESCRIBE TABLE {db_name}.{schema_name}.{table_name};".format(db_name, schema_name, table_name)).collect()

In [14]:
# convert all the row elements to dictionaries
result = [row.as_dict() for row in result]

In [15]:
df = pd.DataFrame(result)

In [16]:
df

,name,type,kind,null?,default,primary key,unique key,check,expression,comment,policy name
0,ABM_TARGET_ACCOUNT__C,BOOLEAN,COLUMN,Y,None,N,N,None,None,None,None
1,ACCOUNTNUMBER,VARCHAR(16777216),COLUMN,Y,None,N,N,None,None,None,None
2,ACCOUNT_ISACTIVE_CURRENT_FY__C,BOOLEAN,COLUMN,Y,None,N,N,None,None,None,None
3,ACCOUNT_ISACTIVE_CURRENT_PREVIOUS_FY__C,BOOLEAN,COLUMN,Y,None,N,N,None,None,None,None
4,ACCOUNT_ISACTIVE_LAST_12_MONTHS__C,BOOLEAN,COLUMN,Y,None,N,N,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
104,_SDC_RECEIVED_AT,TIMESTAMP_TZ(9),COLUMN,Y,None,N,N,None,None,None,None
105,_SDC_SEQUENCE,"NUMBER(38,0)",COLUMN,Y,None,N,N,None,None,None,None
106,_SDC_TABLE_VERSION,"NUMBER(38,0)",COLUMN,Y,None,N,N,None,None,None,None
107,LASTREFERENCEDDATE,TIMESTAMP_TZ(9),COLUMN,Y,None,N,N,None,None,None,None
108,LASTVIEWEDDATE,TIMESTAMP_TZ(9),COLUMN,Y,None,N,N,None,None,None,None

In [ ]:
# a lambda function that creates a new column called 'name_new' if the type is like VARCHAR then add a "000" to the origial name else just add the original name
# df['name_new'] = df.apply(lambda x: x['name'] + '000' if isinstance(x['type'], str) and x['type'].find('VARCHAR') != -1 else x['name'], axis=1)

In [55]:
def transform_name(name, type):
    if isinstance(type, str) and 'VARCHAR' in type:
        #return name + '0007'
        return f"CAST(SUBSTR({name},1,10000) AS VARCHAR(10000)) AS {name}".format(name)
    else:
        return f"{name} AS {name}".format(name)

# apply the transform_name function to create a new column called 'name_new'
df['name_new'] = df.apply(lambda x: transform_name(x['name'], x['type']), axis=1)

In [59]:

#df[['name','type','name_new']].head(200)
column_list:list = df['name_new'].to_list()

In [61]:
columns_str:str = ', '.join(column_list)

In [62]:
columns_str

'ABM_TARGET_ACCOUNT__C AS ABM_TARGET_ACCOUNT__C, CAST(SUBSTR(ACCOUNTNUMBER,1,10000) AS VARCHAR(10000)) AS ACCOUNTNUMBER, ACCOUNT_ISACTIVE_CURRENT_FY__C AS ACCOUNT_ISACTIVE_CURRENT_FY__C, ACCOUNT_ISACTIVE_CURRENT_PREVIOUS_FY__C AS ACCOUNT_ISACTIVE_CURRENT_PREVIOUS_FY__C, ACCOUNT_ISACTIVE_LAST_12_MONTHS__C AS ACCOUNT_ISACTIVE_LAST_12_MONTHS__C, CAST(SUBSTR(ACCOUNT_OWNER_ROLE__C,1,10000) AS VARCHAR(10000)) AS ACCOUNT_OWNER_ROLE__C, ACCOUNT_PLAN_COUNT__C AS ACCOUNT_PLAN_COUNT__C, CAST(SUBSTR(ACCOUNT_RECORD_ID__C,1,10000) AS VARCHAR(10000)) AS ACCOUNT_RECORD_ID__C, ACCOUNT_REGION__C AS ACCOUNT_REGION__C, CAST(SUBSTR(AM_IS_ME__C,1,10000) AS VARCHAR(10000)) AS AM_IS_ME__C, CAST(SUBSTR(BILLINGCITY,1,10000) AS VARCHAR(10000)) AS BILLINGCITY, CAST(SUBSTR(BILLINGCOUNTRY,1,10000) AS VARCHAR(10000)) AS BILLINGCOUNTRY, CAST(SUBSTR(BILLINGCOUNTRYCODE,1,10000) AS VARCHAR(10000)) AS BILLINGCOUNTRYCODE, CAST(SUBSTR(BILLINGGEOCODEACCURACY,1,10000) AS VARCHAR(10000)) AS BILLINGGEOCODEACCURACY, BILLINGLATITUDE AS BILLINGLATITUDE, BILLINGLONGITUDE AS BILLINGLONGITUDE, CAST(SUBSTR(BILLINGPOSTALCODE,1,10000) AS VARCHAR(10000)) AS BILLINGPOSTALCODE, CAST(SUBSTR(BILLINGSTATE,1,10000) AS VARCHAR(10000)) AS BILLINGSTATE, CAST(SUBSTR(BILLINGSTATECODE,1,10000) AS VARCHAR(10000)) AS BILLINGSTATECODE, CAST(SUBSTR(BILLINGSTREET,1,10000) AS VARCHAR(10000)) AS BILLINGSTREET, C1000__C AS C1000__C, CAST(SUBSTR(CE_IS_ME__C,1,10000) AS VARCHAR(10000)) AS CE_IS_ME__C, CLOSED_WON_SVC__C AS CLOSED_WON_SVC__C, COMPETITIVE_LANDSCAPE_WITH_ACCOUNT_TEAMS__C AS COMPETITIVE_LANDSCAPE_WITH_ACCOUNT_TEAMS__C, COUNT__C AS COUNT__C, CAST(SUBSTR(CPM_REGION__C,1,10000) AS VARCHAR(10000)) AS CPM_REGION__C, CAST(SUBSTR(CREATEDBYID,1,10000) AS VARCHAR(10000)) AS CREATEDBYID, CREATEDDATE AS CREATEDDATE, CAST(SUBSTR(CREDIT_STATUS__C,1,10000) AS VARCHAR(10000)) AS CREDIT_STATUS__C, CAST(SUBSTR(CREDIT_TIER__C,1,10000) AS VARCHAR(10000)) AS CREDIT_TIER__C, CAST(SUBSTR(CURRENCYISOCODE,1,10000) AS VARCHAR(10000)) AS CURRENCYISOCODE, CAST(SUBSTR(CUSTOMER_NAME__C,1,10000) AS VARCHAR(10000)) AS CUSTOMER_NAME__C, CAST(SUBSTR(CUSTOMER_NUMBER__C,1,10000) AS VARCHAR(10000)) AS CUSTOMER_NUMBER__C, CAST(SUBSTR(DIMS_CUSTOMER__C,1,10000) AS VARCHAR(10000)) AS DIMS_CUSTOMER__C, DPS_MIGRATION_ACCOUNT__C AS DPS_MIGRATION_ACCOUNT__C, END_CLIENT_REQUIRED__C AS END_CLIENT_REQUIRED__C, EXCLUDE_FROM_WIN_LOSS__C AS EXCLUDE_FROM_WIN_LOSS__C, EXISTING_CLIENT_PMO__C AS EXISTING_CLIENT_PMO__C, GEO_CODES__C AS GEO_CODES__C, HOPPERBLUE_ACCOUNT__C AS HOPPERBLUE_ACCOUNT__C, CAST(SUBSTR(HW_SPECIALIST_IS_ME__C,1,10000) AS VARCHAR(10000)) AS HW_SPECIALIST_IS_ME__C, CAST(SUBSTR(HYPERION_ACCOUNT_NUMBER__C,1,10000) AS VARCHAR(10000)) AS HYPERION_ACCOUNT_NUMBER__C, CAST(SUBSTR(ID,1,10000) AS VARCHAR(10000)) AS ID, CAST(SUBSTR(INDUSTRY,1,10000) AS VARCHAR(10000)) AS INDUSTRY, INTL_SUBCONTRACTOR__C AS INTL_SUBCONTRACTOR__C, ISCUSTOMERPORTAL AS ISCUSTOMERPORTAL, ISDELETED AS ISDELETED, ISPARTNER AS ISPARTNER, LASTACTIVITYDATE AS LASTACTIVITYDATE, CAST(SUBSTR(LASTMODIFIEDBYID,1,10000) AS VARCHAR(10000)) AS LASTMODIFIEDBYID, LASTMODIFIEDDATE AS LASTMODIFIEDDATE, LD_USE_DNB_OPTIMIZE__C AS LD_USE_DNB_OPTIMIZE__C, MOST_RECENT_OPPORTUNITY_CREATE_DATE__C AS MOST_RECENT_OPPORTUNITY_CREATE_DATE__C, MY_REGION_ACC_SALES_REGION_REPORT_ONLY__C AS MY_REGION_ACC_SALES_REGION_REPORT_ONLY__C, CAST(SUBSTR(NAME,1,10000) AS VARCHAR(10000)) AS NAME, CAST(SUBSTR(NPS_ACCOUNT_CATEGORY__C,1,10000) AS VARCHAR(10000)) AS NPS_ACCOUNT_CATEGORY__C, CAST(SUBSTR(NPS_ACCOUNT__C,1,10000) AS VARCHAR(10000)) AS NPS_ACCOUNT__C, NPS_MANAGER_FILTER__C AS NPS_MANAGER_FILTER__C, NUMBER_OF_CONTACTS__C AS NUMBER_OF_CONTACTS__C, NUMBER_OPPORTUNITIES__C AS NUMBER_OPPORTUNITIES__C, OD_PERKS_PROGRAM_TARGET__C AS OD_PERKS_PROGRAM_TARGET__C, OPEN_NEW_ORDERS__C AS OPEN_NEW_ORDERS__C, OPEN_OPPORTUNTIES__C AS OPEN_OPPORTUNTIES__C, CAST(SUBSTR(OPERATINGHOURSID,1,10000) AS VARCHAR(10000)) AS OPERATINGHOURSID, CAST(SUBSTR(ORACLE_ACCOUNT_NUMBER__C,1,10000) AS VARCHAR(10000)) AS ORACLE_ACCOUNT_NUMBER__C, CAST(SUBSTR(ORACLE_CC_SALESPERSON1__C,1,10000) AS VARCHAR(10000)) AS ORACLE_CC_SALESPERSON1__C, CAST(SUBSTR(ORACLE_CC_SALESPERSON2__C,1,10000) AS VARCHAR(10000)) AS ORACLE_CC_SALESPERSON2__C, CAST(SUBSTR(ORACLE_COUNTY__C,1,10000) AS VARCHAR(10000)) AS ORACLE_COUNTY__C, CAST(SUBSTR(ORACLE_CUSTOMER_GROUP__C,1,10000) AS VARCHAR(10000)) AS ORACLE_CUSTOMER_GROUP__C, CAST(SUBSTR(ORACLE_CUSTOMER_STATUS__C,1,10000) AS VARCHAR(10000)) AS ORACLE_CUSTOMER_STATUS__C, ORACLE_EFFECTIVE_END_DATE__C AS ORACLE_EFFECTIVE_END_DATE__C, ORACLE_EFFECTIVE_START_DATE__C AS ORACLE_EFFECTIVE_START_DATE__C, CAST(SUBSTR(ORACLE_SITE_NAME__C,1,10000) AS VARCHAR(10000)) AS ORACLE_SITE_NAME__C, CAST(SUBSTR(ORACLE_SITE_NUMBER__C,1,10000) AS VARCHAR(10000)) AS ORACLE_SITE_NUMBER__C, CAST(SUBSTR(ORACLE_SITE_USE_NUMBER__C,1,10000) AS VARCHAR(10000)) AS ORACLE_SITE_USE_NUMBER__C, CAST(SUBSTR(ORACLE_SITE_USE__C,1,10000) AS VARCHAR(10000)) AS ORACLE_SITE_USE__C, CAST(SUBSTR(ORACLE_STATUS__C,1,10000) AS VARCHAR(10000)) AS ORACLE_STATUS__C, CAST(SUBSTR(OWNERID,1,10000) AS VARCHAR(10000)) AS OWNERID, CAST(SUBSTR(PARENTID,1,10000) AS VARCHAR(10000)) AS PARENTID, CAST(SUBSTR(PARENT_ACCOUNT_CUSTOMER_NUMBER__C,1,10000) AS VARCHAR(10000)) AS PARENT_ACCOUNT_CUSTOMER_NUMBER__C, PBCC_TIER_II_INACTIVE_TARGET__C AS PBCC_TIER_II_INACTIVE_TARGET__C, CAST(SUBSTR(PHONE,1,10000) AS VARCHAR(10000)) AS PHONE, CAST(SUBSTR(PHOTOURL,1,10000) AS VARCHAR(10000)) AS PHOTOURL, CAST(SUBSTR(PROGRAM_EXECUTIVE_PE__C,1,10000) AS VARCHAR(10000)) AS PROGRAM_EXECUTIVE_PE__C, PSE_ID__C AS PSE_ID__C, CAST(SUBSTR(RECORDTYPEID,1,10000) AS VARCHAR(10000)) AS RECORDTYPEID, CAST(SUBSTR(REGION_VERTICAL__C,1,10000) AS VARCHAR(10000)) AS REGION_VERTICAL__C, SENT_TO_OD_SVC__C AS SENT_TO_OD_SVC__C, CAST(SUBSTR(SVC_ACCOUNT_CATEGORY__C,1,10000) AS VARCHAR(10000)) AS SVC_ACCOUNT_CATEGORY__C, CAST(SUBSTR(SVC_AE_IS_ME__C,1,10000) AS VARCHAR(10000)) AS SVC_AE_IS_ME__C, CAST(SUBSTR(SVC_ISR__C,1,10000) AS VARCHAR(10000)) AS SVC_ISR__C, CAST(SUBSTR(SVC_NEW_LOGO_YEAR__C,1,10000) AS VARCHAR(10000)) AS SVC_NEW_LOGO_YEAR__C, SYSTEMMODSTAMP AS SYSTEMMODSTAMP, TOP_100_ACCOUNTS__C AS TOP_100_ACCOUNTS__C, TOP_10_ACCOUNTS__C AS TOP_10_ACCOUNTS__C, TOP_25_ACCOUNTS__C AS TOP_25_ACCOUNTS__C, TOP_50_ACCOUNTS__C AS TOP_50_ACCOUNTS__C, CAST(SUBSTR(TYPE,1,10000) AS VARCHAR(10000)) AS TYPE, CAST(SUBSTR(ULTIMATE_PARENT_NAME__C,1,10000) AS VARCHAR(10000)) AS ULTIMATE_PARENT_NAME__C, CAST(SUBSTR(VERTEX_TAX_AREA_ID__C,1,10000) AS VARCHAR(10000)) AS VERTEX_TAX_AREA_ID__C, CAST(SUBSTR(VERTICAL__C,1,10000) AS VARCHAR(10000)) AS VERTICAL__C, CAST(SUBSTR(WEBSITE,1,10000) AS VARCHAR(10000)) AS WEBSITE, _SDC_BATCHED_AT AS _SDC_BATCHED_AT, _SDC_EXTRACTED_AT AS _SDC_EXTRACTED_AT, _SDC_RECEIVED_AT AS _SDC_RECEIVED_AT, _SDC_SEQUENCE AS _SDC_SEQUENCE, _SDC_TABLE_VERSION AS _SDC_TABLE_VERSION, LASTREFERENCEDDATE AS LASTREFERENCEDDATE, LASTVIEWEDDATE AS LASTVIEWEDDATE'

In [63]:
# append the final result to something like "CREATE OR REPLACE VIEW {db_name}.{schema_name}}.{table_name}_V AS SELECT {columns_str} FROM {db_name}.{schema_name}.{table_name};"
final_query:str = f"CREATE OR REPLACE VIEW {db_name}.{schema_name}.{table_name}_V AS SELECT {columns_str} FROM {db_name}.{schema_name}.{table_name};"

In [64]:
final_query

'CREATE OR REPLACE VIEW STITCH.SALESFORCEFSL3.ACCOUNT_V AS SELECT ABM_TARGET_ACCOUNT__C AS ABM_TARGET_ACCOUNT__C, CAST(SUBSTR(ACCOUNTNUMBER,1,10000) AS VARCHAR(10000)) AS ACCOUNTNUMBER, ACCOUNT_ISACTIVE_CURRENT_FY__C AS ACCOUNT_ISACTIVE_CURRENT_FY__C, ACCOUNT_ISACTIVE_CURRENT_PREVIOUS_FY__C AS ACCOUNT_ISACTIVE_CURRENT_PREVIOUS_FY__C, ACCOUNT_ISACTIVE_LAST_12_MONTHS__C AS ACCOUNT_ISACTIVE_LAST_12_MONTHS__C, CAST(SUBSTR(ACCOUNT_OWNER_ROLE__C,1,10000) AS VARCHAR(10000)) AS ACCOUNT_OWNER_ROLE__C, ACCOUNT_PLAN_COUNT__C AS ACCOUNT_PLAN_COUNT__C, CAST(SUBSTR(ACCOUNT_RECORD_ID__C,1,10000) AS VARCHAR(10000)) AS ACCOUNT_RECORD_ID__C, ACCOUNT_REGION__C AS ACCOUNT_REGION__C, CAST(SUBSTR(AM_IS_ME__C,1,10000) AS VARCHAR(10000)) AS AM_IS_ME__C, CAST(SUBSTR(BILLINGCITY,1,10000) AS VARCHAR(10000)) AS BILLINGCITY, CAST(SUBSTR(BILLINGCOUNTRY,1,10000) AS VARCHAR(10000)) AS BILLINGCOUNTRY, CAST(SUBSTR(BILLINGCOUNTRYCODE,1,10000) AS VARCHAR(10000)) AS BILLINGCOUNTRYCODE, CAST(SUBSTR(BILLINGGEOCODEACCURACY,1,10000) AS VARCHAR(10000)) AS BILLINGGEOCODEACCURACY, BILLINGLATITUDE AS BILLINGLATITUDE, BILLINGLONGITUDE AS BILLINGLONGITUDE, CAST(SUBSTR(BILLINGPOSTALCODE,1,10000) AS VARCHAR(10000)) AS BILLINGPOSTALCODE, CAST(SUBSTR(BILLINGSTATE,1,10000) AS VARCHAR(10000)) AS BILLINGSTATE, CAST(SUBSTR(BILLINGSTATECODE,1,10000) AS VARCHAR(10000)) AS BILLINGSTATECODE, CAST(SUBSTR(BILLINGSTREET,1,10000) AS VARCHAR(10000)) AS BILLINGSTREET, C1000__C AS C1000__C, CAST(SUBSTR(CE_IS_ME__C,1,10000) AS VARCHAR(10000)) AS CE_IS_ME__C, CLOSED_WON_SVC__C AS CLOSED_WON_SVC__C, COMPETITIVE_LANDSCAPE_WITH_ACCOUNT_TEAMS__C AS COMPETITIVE_LANDSCAPE_WITH_ACCOUNT_TEAMS__C, COUNT__C AS COUNT__C, CAST(SUBSTR(CPM_REGION__C,1,10000) AS VARCHAR(10000)) AS CPM_REGION__C, CAST(SUBSTR(CREATEDBYID,1,10000) AS VARCHAR(10000)) AS CREATEDBYID, CREATEDDATE AS CREATEDDATE, CAST(SUBSTR(CREDIT_STATUS__C,1,10000) AS VARCHAR(10000)) AS CREDIT_STATUS__C, CAST(SUBSTR(CREDIT_TIER__C,1,10000) AS VARCHAR(10000)) AS CREDIT_TIER__C, CAST(SUBSTR(CURRENCYISOCODE,1,10000) AS VARCHAR(10000)) AS CURRENCYISOCODE, CAST(SUBSTR(CUSTOMER_NAME__C,1,10000) AS VARCHAR(10000)) AS CUSTOMER_NAME__C, CAST(SUBSTR(CUSTOMER_NUMBER__C,1,10000) AS VARCHAR(10000)) AS CUSTOMER_NUMBER__C, CAST(SUBSTR(DIMS_CUSTOMER__C,1,10000) AS VARCHAR(10000)) AS DIMS_CUSTOMER__C, DPS_MIGRATION_ACCOUNT__C AS DPS_MIGRATION_ACCOUNT__C, END_CLIENT_REQUIRED__C AS END_CLIENT_REQUIRED__C, EXCLUDE_FROM_WIN_LOSS__C AS EXCLUDE_FROM_WIN_LOSS__C, EXISTING_CLIENT_PMO__C AS EXISTING_CLIENT_PMO__C, GEO_CODES__C AS GEO_CODES__C, HOPPERBLUE_ACCOUNT__C AS HOPPERBLUE_ACCOUNT__C, CAST(SUBSTR(HW_SPECIALIST_IS_ME__C,1,10000) AS VARCHAR(10000)) AS HW_SPECIALIST_IS_ME__C, CAST(SUBSTR(HYPERION_ACCOUNT_NUMBER__C,1,10000) AS VARCHAR(10000)) AS HYPERION_ACCOUNT_NUMBER__C, CAST(SUBSTR(ID,1,10000) AS VARCHAR(10000)) AS ID, CAST(SUBSTR(INDUSTRY,1,10000) AS VARCHAR(10000)) AS INDUSTRY, INTL_SUBCONTRACTOR__C AS INTL_SUBCONTRACTOR__C, ISCUSTOMERPORTAL AS ISCUSTOMERPORTAL, ISDELETED AS ISDELETED, ISPARTNER AS ISPARTNER, LASTACTIVITYDATE AS LASTACTIVITYDATE, CAST(SUBSTR(LASTMODIFIEDBYID,1,10000) AS VARCHAR(10000)) AS LASTMODIFIEDBYID, LASTMODIFIEDDATE AS LASTMODIFIEDDATE, LD_USE_DNB_OPTIMIZE__C AS LD_USE_DNB_OPTIMIZE__C, MOST_RECENT_OPPORTUNITY_CREATE_DATE__C AS MOST_RECENT_OPPORTUNITY_CREATE_DATE__C, MY_REGION_ACC_SALES_REGION_REPORT_ONLY__C AS MY_REGION_ACC_SALES_REGION_REPORT_ONLY__C, CAST(SUBSTR(NAME,1,10000) AS VARCHAR(10000)) AS NAME, CAST(SUBSTR(NPS_ACCOUNT_CATEGORY__C,1,10000) AS VARCHAR(10000)) AS NPS_ACCOUNT_CATEGORY__C, CAST(SUBSTR(NPS_ACCOUNT__C,1,10000) AS VARCHAR(10000)) AS NPS_ACCOUNT__C, NPS_MANAGER_FILTER__C AS NPS_MANAGER_FILTER__C, NUMBER_OF_CONTACTS__C AS NUMBER_OF_CONTACTS__C, NUMBER_OPPORTUNITIES__C AS NUMBER_OPPORTUNITIES__C, OD_PERKS_PROGRAM_TARGET__C AS OD_PERKS_PROGRAM_TARGET__C, OPEN_NEW_ORDERS__C AS OPEN_NEW_ORDERS__C, OPEN_OPPORTUNTIES__C AS OPEN_OPPORTUNTIES__C, CAST(SUBSTR(OPERATINGHOURSID,1,10000) AS VARCHAR(10000)) AS OPERATINGHOURSID, CAST(SUBSTR(ORACLE_ACCOUNT_NUMBER__C,1,10000) AS VARCHAR(10000)) AS ORACLE_ACCOUNT_NUMBER__C, CAST(SUBSTR(ORACLE_CC_SALESPERSON1__C,1,10000) AS VARCHAR(10000)) AS ORACLE_CC_SALESPERSON1__C, CAST(SUBSTR(ORACLE_CC_SALESPERSON2__C,1,10000) AS VARCHAR(10000)) AS ORACLE_CC_SALESPERSON2__C, CAST(SUBSTR(ORACLE_COUNTY__C,1,10000) AS VARCHAR(10000)) AS ORACLE_COUNTY__C, CAST(SUBSTR(ORACLE_CUSTOMER_GROUP__C,1,10000) AS VARCHAR(10000)) AS ORACLE_CUSTOMER_GROUP__C, CAST(SUBSTR(ORACLE_CUSTOMER_STATUS__C,1,10000) AS VARCHAR(10000)) AS ORACLE_CUSTOMER_STATUS__C, ORACLE_EFFECTIVE_END_DATE__C AS ORACLE_EFFECTIVE_END_DATE__C, ORACLE_EFFECTIVE_START_DATE__C AS ORACLE_EFFECTIVE_START_DATE__C, CAST(SUBSTR(ORACLE_SITE_NAME__C,1,10000) AS VARCHAR(10000)) AS ORACLE_SITE_NAME__C, CAST(SUBSTR(ORACLE_SITE_NUMBER__C,1,10000) AS VARCHAR(10000)) AS ORACLE_SITE_NUMBER__C, CAST(SUBSTR(ORACLE_SITE_USE_NUMBER__C,1,10000) AS VARCHAR(10000)) AS ORACLE_SITE_USE_NUMBER__C, CAST(SUBSTR(ORACLE_SITE_USE__C,1,10000) AS VARCHAR(10000)) AS ORACLE_SITE_USE__C, CAST(SUBSTR(ORACLE_STATUS__C,1,10000) AS VARCHAR(10000)) AS ORACLE_STATUS__C, CAST(SUBSTR(OWNERID,1,10000) AS VARCHAR(10000)) AS OWNERID, CAST(SUBSTR(PARENTID,1,10000) AS VARCHAR(10000)) AS PARENTID, CAST(SUBSTR(PARENT_ACCOUNT_CUSTOMER_NUMBER__C,1,10000) AS VARCHAR(10000)) AS PARENT_ACCOUNT_CUSTOMER_NUMBER__C, PBCC_TIER_II_INACTIVE_TARGET__C AS PBCC_TIER_II_INACTIVE_TARGET__C, CAST(SUBSTR(PHONE,1,10000) AS VARCHAR(10000)) AS PHONE, CAST(SUBSTR(PHOTOURL,1,10000) AS VARCHAR(10000)) AS PHOTOURL, CAST(SUBSTR(PROGRAM_EXECUTIVE_PE__C,1,10000) AS VARCHAR(10000)) AS PROGRAM_EXECUTIVE_PE__C, PSE_ID__C AS PSE_ID__C, CAST(SUBSTR(RECORDTYPEID,1,10000) AS VARCHAR(10000)) AS RECORDTYPEID, CAST(SUBSTR(REGION_VERTICAL__C,1,10000) AS VARCHAR(10000)) AS REGION_VERTICAL__C, SENT_TO_OD_SVC__C AS SENT_TO_OD_SVC__C, CAST(SUBSTR(SVC_ACCOUNT_CATEGORY__C,1,10000) AS VARCHAR(10000)) AS SVC_ACCOUNT_CATEGORY__C, CAST(SUBSTR(SVC_AE_IS_ME__C,1,10000) AS VARCHAR(10000)) AS SVC_AE_IS_ME__C, CAST(SUBSTR(SVC_ISR__C,1,10000) AS VARCHAR(10000)) AS SVC_ISR__C, CAST(SUBSTR(SVC_NEW_LOGO_YEAR__C,1,10000) AS VARCHAR(10000)) AS SVC_NEW_LOGO_YEAR__C, SYSTEMMODSTAMP AS SYSTEMMODSTAMP, TOP_100_ACCOUNTS__C AS TOP_100_ACCOUNTS__C, TOP_10_ACCOUNTS__C AS TOP_10_ACCOUNTS__C, TOP_25_ACCOUNTS__C AS TOP_25_ACCOUNTS__C, TOP_50_ACCOUNTS__C AS TOP_50_ACCOUNTS__C, CAST(SUBSTR(TYPE,1,10000) AS VARCHAR(10000)) AS TYPE, CAST(SUBSTR(ULTIMATE_PARENT_NAME__C,1,10000) AS VARCHAR(10000)) AS ULTIMATE_PARENT_NAME__C, CAST(SUBSTR(VERTEX_TAX_AREA_ID__C,1,10000) AS VARCHAR(10000)) AS VERTEX_TAX_AREA_ID__C, CAST(SUBSTR(VERTICAL__C,1,10000) AS VARCHAR(10000)) AS VERTICAL__C, CAST(SUBSTR(WEBSITE,1,10000) AS VARCHAR(10000)) AS WEBSITE, _SDC_BATCHED_AT AS _SDC_BATCHED_AT, _SDC_EXTRACTED_AT AS _SDC_EXTRACTED_AT, _SDC_RECEIVED_AT AS _SDC_RECEIVED_AT, _SDC_SEQUENCE AS _SDC_SEQUENCE, _SDC_TABLE_VERSION AS _SDC_TABLE_VERSION, LASTREFERENCEDDATE AS LASTREFERENCEDDATE, LASTVIEWEDDATE AS LASTVIEWEDDATE FROM STITCH.SALESFORCEFSL3.ACCOUNT;'

In [66]:
session.sql(final_query).collect()

[Row(status='View ACCOUNT_V successfully created.')]